.timeFormContainer {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  .time {
    width: 170px;
    height: 50px;
    background-color: pink;
    text-align: center;
    cursor: pointer;
  }
}
