.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .adminWrapper {
    background-color: aliceblue;
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
