@import "../styles/mixins/mixins";
@import "./mixins/variables";

@include phone-up {
  .wrapper {
    height: 100vh;
    background-color: rgb(222, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .adminWrapper {
      background-color: $modalColor;
      width: 80%;
      height: 95vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      .menuWrapper {
        width: 80%;
        display: flex;
        flex-direction: column;

        .inputDiv {
          width: 100%;
          margin-top: 20pt;
          height: 50px;
          display: flex;
          justify-content: space-between;
          input {
            @include inputs;
          }
          button {
            height: 30px;
            background-color: white;
            border-style: none;
            border-radius: 10px;
            margin-left: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
          }
          div {
            .add {
              @include button(#5db85d, 100px, 30px, 8pt);
            }
          }
        }
        .headlinesDiv {
          width: 75%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-bottom: 20px;
          h3 {
            font-size: 8pt;
            padding: 0px;
            margin: 0px;
            width: 30px;
          }
        }
      }
    }
    .listWrapper {
      height: 350px;
      width: 80%;
      background-color: white;
      overflow-y: scroll;
    }
  }
}

@include tablet-up {
  .wrapper {
    .adminWrapper {
      .menuWrapper {
        .buttonDiv {
        }
        .inputDiv {
          input {
          }
        }
        .headlinesDiv {
          width: 87%;
          h3 {
            font-size: 14pt;
            width: 100px;
          }
        }
      }
      .listWrapper {
      }
    }
  }
}
