@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "./components-style/bookingStyles/calendar";
@import "./components-style/bookingStyles/amountOfPeople";
@import "./components-style/bookingStyles/timeForm";
@import "./components-style/bookingStyles/personDataForm";
@import "./mixins/variables";
@import "./mixins/mixins";

.bookingPage {
  height: 100vh;
  //background-color: rgb(222, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bookingFormsContainer {
    margin-top: 30px;
    background-color: $modalColor;
    width: 80%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-up {
      width: 60%;
    }

    .wichForm {
      margin: 0%;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;

      .ifTimeForm {
        border-right: 1px solid black;
      }

      .ifTimeForm,
      .ifConfirmation,
      .ifDateForm {
        background-color: rgba(pink, 0.3);
        height: 100%;
        width: 34%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .active {
        background-color: $modalColor;
      }
    }

    .buttonContainer {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      button {
        @include button(#5db85d, 75px, 25px, 9pt);
        /*  background-color: rgb(127, 208, 127);
        border: 0;
        height: 30px;
        width: 80px;
        border-radius: 9px;
        cursor: pointer; */
      }

      .cancelButton {
        background-color: red;
      }
    }
  }
}
