@import "./mixins/mixins";

.homeWrapper {
  width: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  .bookButton {
    @include button(#5db85d, 400px, 150px, 50pt);
  }
}
