@import "../../mixins/mixins";

@include phone-up {
  .listDiv {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: 8pt;
      width: 40px;
      margin: 0px;
      padding: 0px;
    }

    .editBtn {
      @include button(#5db85d, 50px, 20px, 7pt);
      color: white;
    }
  }
}

@include tablet-up {
  .listDiv {
    p {
      font-size: 12pt;
      width: 100px;
    }
  }
}
