@import "../../mixins/mixins";

@include phone-up {
  form {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 40px;

    .bookingDiv {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding-bottom: 40px;
      div {
        h3 {
          font-size: 10pt;
        }
        input {
          @include inputs;
        }
      }
      select {
        @include inputs;
        &::hover {
          cursor: pointer;
        }
      }
    }
    .detailsDiv {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      h3 {
        font-size: 10pt;
        margin: 0px;
        padding-top: 0px;
      }

      input {
        height: 15px;
        width: 150px;
        @include inputs;
      }
    }

    .inputDiv {
      width: 100%;
      display: flex;
      justify-content: end;
      .save {
        @include button(#5db85d, 100px, 30px, 8pt);
        margin: 10px;
      }
      .delete {
        @include button(#f25d5d, 100px, 30px, 8pt);
        margin: 10px;
      }
    }
  }
  .cancel {
    @include button(#f25d5d, 100px, 30px, 8pt);
    margin: 10px;
  }
}

@include tablet-up {
  form {
    max-width: 60%;
    padding-top: 60px;

    .bookingDiv {
      width: 100%;
      div {
      }
    }
    .detailsDiv {
      h3 {
      }

      input {
      }
    }

    .inputDiv {
    }
  }
}
