////////////////////// mixins break points ////////////////////////

@mixin phone-up {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin phone-to-tablet {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin tablet-step1 {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1100px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}

////////////// mixins design ////////////////
@mixin button($color, $width, $height) {
  color: $color;
  width: $width;
  height: $height;
  border-radius: 15px;
  box-shadow: 8px 10px 5px -5px rgba(0, 0, 0, 0.25);
}
